small{ color: red; }
label{display: block;}
form{ margin-bottom: 1rem; }
form .line{ margin-bottom: 1rem; }
pre{ padding: 1rem; background-color: #EEE; border: 1px solid #DDD; overflow: auto; }

textarea{ box-sizing: border-box; padding: 5px; width: 200px; }
input{ box-sizing: border-box; padding: 5px; width: 200px; border-width: 1px; }

.error{ border-color: red; color: red; }
.success{ border-color: green; color: green; }